{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}


{{form(form)}}

<a class='btn btn-block btn-primary' href="{{path('home')}}">Retour à la page d'accueil</a>

{% endblock %}
